<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878225776740-ifrqvc4c8bj6aprusgq9ak2v3etjf66d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878225776740-ifrqvc4c8bj6aprusgq9ak2v3etjf66d</string>
	<key>API_KEY</key>
	<string>AIzaSyB3TCHa5NTVdKe5vKbgnWVioWdDX_s-7eY</string>
	<key>GCM_SENDER_ID</key>
	<string>878225776740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-18117</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-18117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878225776740:ios:5782ddb11393f12b033f71</string>
</dict>
</plist>